body {
    background-color: white;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

#counter {
    font-size: 35px;
}

#start {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

#game-container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    top: 100px;
    background-color: lightcoral;
    border: 5px solid gold;
    padding: 25px;
    height: 350px;
}

#header {
    font-family: 'Alex Brush', cursive;
    text-align: center;
}

#start {
    left: 450px;
}
